@model Event

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotoURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Responsible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Responsible)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Collaboration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Collaboration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReservedRoom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReservedRoom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
</div>

@foreach (var comment in Model.Comments)
{
    <div class="row">
    <div class="col-md-4">
        <div><p class="user-email">User Email: @comment.User</p>
        </div>
        <div><p class="user-comment">User Comment: @comment.Text</p>
        </div>
    </div>
</div>
}

<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.EventId"><i class="bi bi-pencil-square"></i> &nbsp; Edit</a> 
    <a class="btn btn-primary" asp-action="Index"><i class="bi bi-arrow-left"></i> &nbsp; Back to List</a>
</div>