@model IEnumerable<cbsStudents.Models.Entities.Event>
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
}


<div class="d-flex justify-content-between">
    <h4>Events</h4>
    <a class="btn btn-primary" asp-action="create"> 
        <i class="bi bi-plus-circle-fill"></i> &nbsp; New Event
    </a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.EventTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservedRoom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.EventId">@Html.DisplayFor(modelItem => item.EventTitle)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservedRoom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @if (@UserManager.GetUserId(User) == item.UserId){
                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.EventId"> <i class="bi bi-pencil-square"></i> &nbsp; Edit</a>
                <a class="btn btn-secondary" asp-action="Delete" asp-route-id="@item.EventId"> <i class="bi bi-trash3"></i> &nbsp; Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
